<script type="text/template" id="member-tmpl">
<% _.each(members, function(member) { %>
	<tr class="member">
		<td><%=member.id%></td>
		<td><%=member.name%></td>
		<td><%=member.email%></td>
		<td><%=member.phoneNumber%></td>
		<td><select><% _.each(member.activities, function(activity) { %>
			<option value="<%=activity.id%>"><%=activity.name%></option><% }); %>
		</select></td>
		<td><a href="rest/members/<%=member.id%>" target="_blank" class="resturl">XML</a> / <a href="rest/members/<%=member.id%>/json" target="_blank" class="resturl">JSON</a></td>
		<td><input type="button" name="edit_<%=member.id%>" id="edit_<%=member.id%>" value="Edit" onclick="javascript:editMember(<%=member.id%>)" /></td>
		<td><input type="button" name="remove_<%=member.id%>" id="remove_<%=member.id%>" value="Remove" onclick="javascript:removeMember(<%=member.id%>)" /></td>
		<td><input type="button" name="quit_<%=member.id%>" id="quit_<%=member.id%>" value="Quit" onclick="javascript:quitMember(<%=member.id%>)" /></td>
	</tr>
<% }); %>
</script>
