<script type="text/template" id="member-tmpl">
<% _.each(members, function(member) { %>
	<tr class="member">
		<td><%=member.id%></td>
		<td><%=member.name%></td>
		<td><%=member.email%></td>
		<td><%=member.phoneNumber%></td>
		<td><a href="rest/members/<%=member.id%>" target="_blank" class="resturl">XML</a> / <a href="rest/members/<%=member.id%>/json" target="_blank" class="resturl">JSON</a></td>
		<td><input type="button" name="edit_<%=member.id%>" id="edit_<%=member.id%>" value="Edit" onclick="javascript:edit(<%=member.id%>,'<%=member.name%>','<%=member.email%>','<%=member.phoneNumber%>')" /></td>
		<td><input type="button" name="remove_<%=member.id%>" id="remove_<%=member.id%>" value="Remove" onclick="javascript:remove(<%=member.id%>)" /></td>
	</tr>
<% }); %>
</script>
